<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wisdom.auth.provider.mapper.mapper.UserInfoMapper" >
  <resultMap id="BaseResultMap" type="com.wisdom.auth.provider.mapper.model.UserInfo" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="USER_ID" property="userId" jdbcType="VARCHAR" />
    <result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
    <result column="PASSWORD" property="password" jdbcType="VARCHAR" />
    <result column="PHONE" property="phone" jdbcType="VARCHAR" />
    <result column="SEX" property="sex" jdbcType="INTEGER" />
    <result column="STATUS" property="status" jdbcType="INTEGER" />
    <result column="MAIL_ADDRESS" property="mailAddress" jdbcType="VARCHAR" />
    <result column="IMAGE_URL" property="imageUrl" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="ROLES_NAME" property="rolesName" jdbcType="VARCHAR"/>
  </resultMap>


  <select id="getUserTableByRoleId" resultMap="BaseResultMap">
    SELECT U.*,s1.ROLES_NAME FROM USER_INFO U
    LEFT JOIN USER_ROLE_REL T on U.ID=T.USER_ID
    left join (select USER_ID,GROUP_CONCAT(r1.ROLE_NAME)ROLES_NAME from USER_ROLE_REL ur left join ROLE_INFO r1 on ur.ROLE_ID=r1.ID GROUP BY ur.USER_ID)s1 on s1.USER_ID= U.ID
    <where>
      U.ID=T.USER_ID AND T.ROLE_ID = #{roleId}
      <if test="userId != null and userId != ''">
        AND U.USER_ID = #{userId}
      </if>
      <if test="userName != null and userName != ''">
        AND U.USER_NAME = #{userName}
      </if>

    </where>

  </select>

  <select id="getUnUserTableByRoleId" resultMap="BaseResultMap">
    SELECT U.*,#{roleId} as roleId FROM USER_INFO U
    <where>
      U.id not in(select USER_ID from USER_ROLE_REL WHERE ROLE_ID = #{roleId})

      <if test="userId != null and userId != ''">
        AND U.USER_ID = #{userId}
      </if>
      <if test="userName != null and userName != ''">
        AND U.USER_NAME = #{userName}
      </if>

    </where>

  </select>

  <select id="selectHegangUser" resultMap="BaseResultMap">
    SELECT id as id,xm as password as userRoleRelId FROM txl
  </select>

  <select id="findMapByDomain"  resultType="java.util.Map" useCache="true">
    select
    ID as 'key' ,USER_NAME as 'value'
    from
    USER_INFO
    <where>
      <if test="id !=null">
        and ID = #{id}
      </if>
    </where>
  </select>
</mapper>